<div class="portals-container">
  <h3>
    Portals 使用
  </h3>
  <div class="portals-content">
    <div class="nav-div">
      <section>
        <p>Angular 原生API动态加载组件</p>
        <div class="sub-operate">
          <button (click)="openTask()">打开任务详情</button>
          <button class="ml-2" (click)="renderTemplate()">打开模板</button>
        </div>
      </section>
      <section>
        <p>Portals 动态加载组件</p>
        <div class="sub-operate">
          <button (click)="portalOpenTask()">打开任务详情</button>
        </div>
      </section>
      <section>
        <p>配置injector 、ViewContainer</p>
        <section class="task-list">
          <app-task-list #taskListContainer></app-task-list>
          <ng-template #customTemplate let-name="name">
            <p>自定义模板，传入参数name：{{name}}</p>
          </ng-template>
        </section>
      </section>
    </div>
    <div class="portals-outlet">
      <ng-container #virtualContainer cdkPortalOutlet>
      </ng-container>
    </div>
  </div>
</div>
