.task-list-container {
    padding-left: 8px;
}
.task-ul {
    .task-item {
        cursor: pointer;
        margin: 5px 0;
        list-style: none;
        &.active {
            background-color: aquamarine;
        }
    }
    padding-left: 4px;
    width: 170px;
}
